@import "tailwindcss";


@font-face {
  font-family: 'Raleway';
  src: url('./assets/fonts/Raleway-Regular.ttf');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Raleway';
  src: url('./assets/fonts/Raleway-SemiBold.ttf') format('woff2');
  font-weight: 700;
  font-style: bold;
  font-display: swap;
}